{% extends "index.html" %}

{%- block title -%}
{% set title = "Tag: " ~ term.name %}
{{ title_macros::title(page_title=title, main_title=config.title) }}
{%- endblock -%}

{% block content %}
    {% set page = get_page(path="tags/" ~ term.name ~ "/index.md") %}
    <div class="post">
        {% if page.title %}
        <h1 class="post-title">
            {{page.title | safe}}<br/>
            <div class="post-subtitle">
                 #{{ term.name }} ({{ term.pages | length }} post{{ term.pages | length | pluralize }})
            </div>
        </h1>
        {% else %}
            <h1 class="post-title">
                tag: #{{ term.name }}
                ({{ term.pages | length }} post{{ term.pages | length | pluralize }})
            </h1>
        {% endif %}

        {% if page.content %}
        <div class="post-content">
            {{ page.content | safe }}
        </div>
        {% endif %}

        {{ post_macros::list_posts(pages=term.pages, show_date=false) }}

        <a href="{{ config.base_url | safe }}/tags/">
            Back to all tags
        </a>
    </div>
{% endblock content %}
