:root {
  --accent: rgb(200,200,200);
  --accent-alpha-70: rgba(200,200,200,.7);
  --accent-alpha-20: rgba(200,200,200,.2);

  --background: #221F29;
  --color: white;
  --border-color: rgba(255, 255, 255, .1);
}

