{% if src %}
  {% set resized_src = resize_image(path=page.colocated_path ~ src, width=800, op="fit_width", format="webp") %}
  <figure class="{% if position %}{{ position }}{% else -%} center {%- endif %}" >
    <img src="{{ resized_src.url }}"{% if alt %} alt="{{ alt | safe}}"{% endif %}{% if style %} style="{{ style }}"{% endif %} decoding="async" loading="lazy"/>
    {% if caption %}
      <figcaption class="{% if caption_position %}{{ caption_position }}{% else -%} center {%- endif %}"{% if caption_style %} style="{{ caption_style | safe }}"{% endif %}>{{ caption | markdown() | safe }}</figcaption>
    {% endif %}
  </figure>
{% endif %}
